[2019-02-06 14:16] omarreiss opened #1 "Merge in Yoast SEO?"
@ashhitch cool plugin! Would you consider creating a PR on https://github.com/Yoast/wordpress-seo to include this directly in the Yoast SEO plugin? We'd be happy to welcome you as a contributor!

[2019-02-06 20:33] ashhitch commented on #1
@omarreiss thanks! Would love to see the plugin be part of the core 👍

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-24 10:55] shendriksza opened #2 "Add dynamic meta data"
Does this plugin still work with wp-graphql 0.3.2 (after the major 0.3.0 overhaul)? I did a quick test and it seems the graphql queries only return data when you manually edited the meta tags with the plugin. All autogenerated Yoast entries are empty strings

[2019-04-24 11:52] jchrislemmer commented on #2
The plugin works, however, the issue we're seeing is that the dynamically generated content isn't being fetched.

I other-words, if you configure Yoast with a global meta description, it doesn't work. You have to specifically set one on that page in order to get it.

Thanks
Chris

[2019-04-24 11:57] ashhitch commented on #2
This is correct, currently, it does just pull the data from the meta fields. Which is only populated if you manually change the fields...
I do plan to try to add this soon

[2019-04-24 12:08] jchrislemmer commented on #2
Okay, cool, thank you!

[2019-04-24 12:08] jchrislemmer commented on #2
Btw, is it also possible to add the meta-data for WordPress blog categories?

Thanks
Chris

[2019-04-24 12:20] ashhitch commented on #2
@jchrislemmer great suggestion will add this to the roadmap

[2019-04-24 12:22] ashhitch opened #3 "Support WordPress blog categories"
As mentioned in #2 we need to pull in data for WordPress blog categories

[2019-05-21 07:54] jchrislemmer commented on #2
Hey there,

Any idea when this will work?

Kind regards
Chris

[2019-05-21 12:42] ashhitch commented on #2
@jchrislemmer sorry been a bit snowed under with work lately, however, I have made some progress with this... if you use this branch: https://github.com/ashhitch/wp-graphql-yoast-seo/tree/feature/dynamic-data
You will get dynamic title and descriptions (if you have set up the dynamic descriptions in the Yoast plug)
Would be great to get any feedback you have before I merge this into master

[2019-05-21 13:18] jchrislemmer commented on #2
Hey @ashhitch thanks for this! I'll definitely give it a go and send you feedback.

[2019-06-10 11:28] shendriksza commented on #2
Thanks @ashhitch the plugin is looking really good so far! The dynamic data is almost perfect now, but we are seeing a problem with the title response:

`"title": "Terms and Conditions",`
`"seo": {`
`"title": "| Site Title",`
`}`

This is with a title using the following snippets: `title page sep sitename `
For some reason, all snippets except the title were populated in the SEO title. The title a

[2019-06-10 12:37] ashhitch commented on #2
@shendriksza thank for the feedback will take a look into this.

[2019-11-05 05:42] justinradomski opened #7 "Special characters printing out like &amp; and &bull;"
I'm not sure if this is specific to just the title tag field, but I've got an ampersand and bullet character in my title tags and they're showing up as `&amp;` and `&bull;` after fetching from GraphQL.

[2019-11-08 13:54] nathobson opened #8 "Returning social images"
Firstly, great work on the plugin so far.

I had a suggestion around the social images (Open Graph and Twitter) that get returned. It would be great if we could return them as as a meditaItem. At the moment, they're just being returned as strings that point back to the WordPress instance, rather than Gatsby locally.

I had a go at getting this working but couldn't crack it. I figure we could use t

[2019-11-11 14:06] ashhitch commented on #7
@justinradomski thanks for reporting this will take a look at this

[2019-11-11 14:34] #2 closed

[2019-11-11 14:35] ashhitch commented on #3
Fixed by #9

[2019-11-11 14:35] #3 closed

[2019-11-12 15:14] robmarshall commented on #8
Just came across this issue. I found this post helpful when working with similar issues within my Gatsby build. Might help...

https://dev.to/nevernull/gatsby-with-wpgraphql-acf-and-gatbsy-image-72m

[2019-11-12 15:16] robmarshall opened #10 "Yoast Content Types - Enhancement"
It would be great if this plugin could pull content from the "Content Types" tab under "Search Appearance".

This would mean Post and Custom Post Type archives could have titles/description meta handled from WordPress, rather than having to hard code this in Gatsby.

[2019-11-12 19:32] ashhitch commented on #10
That's an interesting idea, wonder if it would be best to extend postTypeInfo to provide this, so you would end up with a query like this...
[code]

[2019-11-13 17:41] robmarshall commented on #10
Might be better creating a completely new typename. I say this due to all the smaller options within the section. Maybe more like this:

[code]

[2019-11-18 00:09] fatlinesofcode opened #11 "Seo for site?"
Hi,
I've installed the plugin. Works great for getting a page's Seo, but it possible to get the global site seo via graphql?

[2019-11-18 15:04] ashhitch commented on #11
@fatlinesofcode Currently we only have SEO data for pages/posts/ custom post types and taxonomies.
However, I would like to expand this further, we have been talking about something simular in this issue: #10

[2019-11-19 15:43] nathobson commented on #8
Thanks for the reply @robmarshall. Did you get the two (this plugin and images via that technique) hooked up? That's actually exactly how I'm dealing with the images on my site but as I'm only getting the URL back from the plugin, I can't really do much with it - it's not returned as a `mediaItem`.

[2019-11-19 16:03] robmarshall commented on #8
I haven't tried it yet. This is probably something I will be looking at in a few days. Thought I would just pass the link over while I remembered!

If it is not returned as a media item, could you use the image URL, and create a resolver that finds that URL from the media library resolver (that you currently use)?.

If I can get it to work I'll let you know!

[2019-11-19 16:09] nathobson commented on #8
Appreciate it. Likewise, I'll give it another crack with fresh eyes over the next few days and report back.

[2019-11-19 16:15] nathobson commented on #8
Just to clarify, the image itself is available as a media item if you were to separately query for it i.e.

[code]

Would return:

[code]

But when you query the against the wp-graphql-yoast-seo plugin, for example:

[code]

You just get back the source URL:

[code]

[2019-11-19 16:22] robmarshall commented on #8
Indeed.

So I am wondering if it is possible to create a resolver to query against sourceURL of the mediaItem. Using the opengraphImage url (if existing).

If it exists, copy the mediaItem node and add it to the SEO node.

It would be better to update the plugin to return the ID. But I do not know enough about the backend of wpGraphQl.

Using something like this: https://www.gatsbyjs.org/blog/2019

[2019-11-19 16:38] nathobson commented on #11
Also would be great if we could get access to the default social media images. These are really handy to have access too, especially on site with a high volume of pages where it's not practical for a page/post to always have a unique Open Graph/Twitter image set.

I'll have a dig around `gatsby-source-wordpress` and see how they handled. that

[2019-11-29 16:14] bringmethedeathstar opened #12 "Bump Composer Requirements"
I'm getting the following when trying to `composer require ashhitch/wp-graphql-yoast-seo`:

[code]

My project requires `"wp-graphql/wp-graphql": "^0.4.2"` in order to use `wp-graphql/wp-graphql-acf`, which has a minimum requirement of `"wp-graphql/wp-graphql": "^0.4.0"`.

Is it possible to bump the required version of `wp-graphql/wp-graphql` within your `composer.json`?

[2019-12-01 15:23] ashhitch commented on #12
Hey, I have just changed the composer file to use >= I think this will solve your issue.

[2019-12-01 15:30] ashhitch commented on #8
@nathobson  and @robmarshall
I have been working on this feature to provide images as MediaItems.
As it will be a breaking change I will release this as a major version bump soon.

Would be great if you could test it out.
https://github.com/ashhitch/wp-graphql-yoast-seo/releases/tag/v3.0.0

[2019-12-02 15:00] bringmethedeathstar commented on #12
Perfect - cheers 🎉

[2019-12-02 15:00] #12 closed

[2019-12-02 15:26] nathobson commented on #8
This is great! I've just had a play around with it and works as expected and all resolves via `ChildImageSharp` for full Gatsby Image goodness :)

[2019-12-03 13:41] ashhitch commented on #8
V3 resolved this issue

[2019-12-03 13:41] #8 closed

[2020-01-03 04:04] kvindasAB opened #16 "SEO - Canonical Support"
Hello Guys,

Thanks a lot for this plugin.

I'm currently building an eCom Site and I'm using this plugin to grab Yoast SEO.

Although I have noticed that the `canonical` configured in Yoast for pages or Posts is not being retrieved.

The `canonical` can be found in the advanced tab of the Yoast section for the page and post.

[2020-01-03 04:07] kvindasAB opened #17 "WooCommerce - Product Pages Support"
Hello Guys,

I'm building an ecom site and using this plugin to retrieve Yoast SEO configuration.

Although I get all the SEO information for  Pages/Posts and even ProductCategories, Products in specific retrieve no information at all.

[2020-01-05 18:42] ashhitch commented on #16
@kvindasAB thanks for reporting this I will take a look.

[2020-01-05 18:44] ashhitch commented on #17
@kvindasAB  I have yet to do any testing with WooCommerce I will setup and instance and see what I can do

[2020-01-15 12:39] rodolphonetto opened #18 "Authors social links"
Hi, Yoast adds fields for social media links for the users (twitter, facebook...) Can I use that plugin to fetch them? If not is it hard to do that? I would like to help on creating that if it is not avaliable

[2020-01-15 12:55] #18 closed

[2020-01-15 12:55] rodolphonetto commented on #18
It was opend by mistake

[2020-01-23 08:37] ashhitch commented on #17
@kvindasAB i now have a branch where I am working Woocomerce support:
https://github.com/ashhitch/wp-graphql-yoast-seo/tree/feature/woocommerce

Currently have support for products

[2020-01-23 14:52] kvindasAB commented on #17
@ashhitch Will test it.

Thanks a lot

[2020-02-03 23:42] kvindasAB commented on #17
Hello @ashhitch , I have been testing the branch and seems to be working right.

[2020-02-04 00:25] kvindasAB opened #19 "ProductCategory SEO title not generated correctly."
Hello Guys,

I have been using this plugin and I have noticed the following.

For productCategories in specific I'm currently getting the title in the following format:

[code]

So basically every category have this prefix `48 - product_cat -` with the database and the word `product_cat`.

At the moment I'm patching the result on client side to correct this, but seems to be an error.

[2020-02-04 11:03] ashhitch commented on #19
Thank for spotting this, just removed the debug info thay made it into master

[2020-02-04 11:04] #19 closed

[2020-03-06 10:47] #16 closed

[2020-03-06 10:48] #17 closed

[2020-03-09 21:08] pmkemper opened #22 "Wordpress error when running gatsby develop"
Hey,

I got the following error in Wordpress when I ran `gatsby develop` locally, with wp-graphql-yoast-seo, WP GraphQL, and WP Gatsby installed, as well as WPML (posts in various languages):

I could fix this error by editing line 75 of your plugin (adding "->post_title"):
`              'title' => trim($wpseo_frontend->title($post->post_title)),
`

[2020-03-12 10:11] ashhitch commented on #22
@pmkemper thanks for raising the bug, do you know if the issue only happens when WPML is enabled?

[2020-03-12 18:51] pmkemper commented on #22
I haven't tried with WPML disabled. However, if you check here: https://github.com/Yoast/wordpress-seo/blob/trunk/frontend/class-frontend.php you see that the the title method accepts a string as an argument, while this plugin passes it a post object. Hence why I think passing it $post->post_title works and passing it just $post does not.

[2020-03-13 16:31] ashhitch commented on #22
Fixed by #23

[2020-03-13 16:31] #22 closed

[2020-03-13 20:49] ashhitch opened #24 "Plugin should check if Yoast installed"
if Yoast is not installed the seo fields should not be registered.

[2020-04-01 17:12] ashhitch commented on #11
Hi @fatlinesofcode and @nathobson
I have just merged in #25 which provides site-level Yoast data including:

-  Webmaster verification
-  Social profiles
-  Schemas
-  Breadcrumbs

you can query the data from the root:
[code]

[2020-04-01 17:15] ashhitch commented on #11
If there is anything I missed that you think should be added feel free to open another issue.

[2020-04-01 17:15] ashhitch commented on #11
If there is anything I missed that you think should be added feel free to open another issue.

[2020-04-01 17:15] #11 closed

[2020-04-03 07:22] thmsnhl opened #26 "Expose googlebot default value"
Would it be possible to expose the content of the googlebot field to graphql?

Currently I don't see a way to utilize the data provided to build consistent meta tags across the rendered frontend and an application that consumes the graphql endpoint.

[2020-04-03 20:10] ashhitch commented on #26
Hey, @thmsnhl could you provide a little more info on what you are after?

For the post types we already expose:

- metaRobotsNoindex
- metaRobotsNofollow

[2020-04-06 10:45] thmsnhl commented on #26
Hey @ashhitch thanks for reaching out and sorry, that my request was not clear enough.
metaRobotsNoindex and metaRobotsNofollow return values of `0` an `1` but if you take a look into pages that have been rendered by wordpress, you see that the meta robots-tag contains `max-snippet:-1, max-image-preview:large, max-video-preview:-1`.

I would like to get this value out of the graphql endpoint, so t

[2020-04-08 19:20] ashhitch commented on #26
Hi
I have just been looking into this and `max-snippet:-1, max-image-preview:large, max-video-preview:-1` seems to be a fixed value?

What advantage would you get by putting this into the GraphQl response?
Could you not just add `<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>` into the layout as it does not change?

Or am I missing something?

[2020-04-09 08:50] thmsnhl commented on #26
When I opened up the issue I had no access to the yoast advanced settings, I thought it is possible to set this value via yoast but apparently it is not.

With this in mind the only benefit of providing this in the response would be to keep it up-to-date when yoast decides to change it in a future version.

So feel free to close the issue, if this does not seem to be relevant enough for you.

[2020-04-12 12:46] rohitb4 opened #27 "Extract Homepage title and description"
Is there any way to extract Homepage title and description?  Please refer to the screenshot below.
<img width="948" alt="Screenshot 2020-04-12 at 6 15 22 PM" src="https://user-images.githubusercontent.com/6358889/79069160-aa068680-7ce9-11ea-88f2-d95a54675555.png">

[2020-04-23 15:56] ashhitch commented on #27
Hey, currently this is not available in the plugin, but I will add this to the roadmap

[2020-04-29 22:10] Mindgames opened #28 "Problem returning excerpt in meta Desc"
Using %%excerpt%% as the default description on a custom post type don't return the generated value. In editor & WP frontend it works
![image](https://user-images.githubusercontent.com/2171273/80651860-f9cda780-8a76-11ea-8616-e9bbc1709013.png)

in my GQL query i get
[code]
Any ideas?

[2020-04-29 22:14] shawngrona opened #29 "[Bug] - All posts return same title/metaDesc"
Steps to repro:
1. wordpress site with yoast 14.0.3
2. install wordpress plugin wpgraphql 0.8.4
3. install wordpress plugin wp-graphql-yoasy-seo 3.3.0
4. using some graphql editor (eg GraphIQL) execute the following query:
[code]

expected:
Title and meta description reflect each individual post

actual:
Title and meta description match the most recently generated post

[2020-04-29 22:34] Mindgames commented on #28
Tested to set the meta description manually for the post + removed any preset values in the Yoast SEO content settings. However it return same value in `metaDesc` despite this being set individually.
[code]

[2020-04-29 22:36] Mindgames commented on #28
**However**
When running directly towards the custom post it works

[code]
And the other one
[code]

[2020-04-30 06:43] ashhitch commented on #29
Hey, thanks reporting this can I ask which version of Yoast you are using?

[2020-04-30 07:20] ashhitch commented on #28
Hey @Mindgames can I ask which versions of: WP, WpGraphql and Yoast you are using?
These are the results im getting:

<img width="1042" alt="Screenshot 2020-04-30 at 08 17 41" src="https://user-images.githubusercontent.com/2438290/80682890-39b67e00-8abb-11ea-9e52-fe1fa2c09718.png">

<img width="647" alt="image" src="https://user-images.githubusercontent.com/2438290/80682937-4dfa7b00-8abb-11ea-9fc3

[2020-04-30 07:27] ashhitch commented on #29
@shawngrona I have just installed the RC of Yoast 14 and can see it has breaking changes for my plugin., I will start to look into this., if you were to install version 13 of the Yoast plugin it should work for you.

[2020-04-30 07:28] ashhitch commented on #28
@Mindgames  I have just installed the RC of Yoast 14 and can see it has breaking changes for my plugin., I will start to look into this., if you were to install version 13 of the Yoast plugin it should work for you.

[2020-04-30 07:30] ashhitch opened #30 "Update plugin to work with Yoast 14"
#29 #28

[2020-04-30 08:55] Mindgames commented on #28
@ashhitch Downgrading to YOAST 13 did solve the issue.  Thanks for the quick response

[2020-04-30 08:56] ashhitch commented on #28
Good to hear, I m working on a new release that should fix this from v14.

[2020-04-30 13:07] ashhitch commented on #30
Progress can be followed here:
https://github.com/ashhitch/wp-graphql-yoast-seo/tree/feature/yoast-14

[2020-04-30 16:48] shawngrona commented on #29
thank you @ashhitch
i didnt think to add the yoast version above - you're right i'm on yoast 14.0.3 looks like 14.0.4 is available

[2020-04-30 19:47] ashhitch commented on #29
@shawngrona I have a test version that should be good to go with Yoast 14 If you fancy testing it:
https://github.com/ashhitch/wp-graphql-yoast-seo/releases/tag/v4.0.0Alpha

[2020-04-30 19:48] ashhitch commented on #28
@Mindgames  I have a test version that should be good to go with Yoast 14 If you fancy testing it:
https://github.com/ashhitch/wp-graphql-yoast-seo/releases/tag/v4.0.0Alpha

[2020-05-01 19:38] shawngrona commented on #29
@ashhitch thank you so much for quick turnaround, your yoast-14 branch has resolved my issue with title/metaDesc

[2020-05-03 08:29] izzygld commented on #30
@ashhitch thanks for the quick fixes to yoast v14 helped us alot. :thumbsup:

Any particular reason you didn't add the "canonical" field to the example in ReadMe?

[2020-05-03 12:50] ashhitch commented on #30
@izzygld its not in the readme on because I have not got around to updating it yet. 🙈

Any PRs are always welcome! Will try get the lasted work into master later, which might make it easier.

[2020-05-03 12:57] izzygld commented on #30
ok. thanks.

Let me know when you've merged v14 into master.

[2020-05-03 15:34] ashhitch commented on #30
@izzygld  V4 of the plugin is now in master.

[2020-05-03 15:34] #30 closed

[2020-05-03 15:35] ashhitch commented on #29
Fixed by #31

[2020-05-03 15:35] #29 closed

[2020-05-03 15:35] ashhitch commented on #28
Fixed by #31

[2020-05-03 15:35] #28 closed

[2020-05-05 13:16] izzygld commented on #7
@ashhitch should we echo `html_entity_decode(strip_tags( SeoField)) . "\n";`?

[2020-05-06 12:49] ashhitch commented on #7
I don't think this is an issue now we are using Yoast's new public API.
![image](https://user-images.githubusercontent.com/2438290/81178624-64fc0a00-8fa0-11ea-9425-597adf55bfc8.png)

Please reopen if you are still having issues.

[2020-06-01 10:48] zmn-aamir opened #38 "yoast redirects node not exist in wpGraphQL"

[2020-06-01 11:02] izzygld commented on #38
@ashhitch we should probably add a feature for "premium" version of Yoast.

[2020-06-01 11:19] zmn-aamir commented on #38
we are already using Yoast premium version, but there is no option for getting redirects data in wp-graphQL query.

[2020-06-01 12:02] ashhitch commented on #38
Would be great to get the premium features into the plugin.

I don't currently have a premium license for any of the sites I manage.

Will do some research into all the extras.

[2020-06-06 15:32] dulx96 commented on #27
Waiting for new update

[2020-06-06 17:23] robmarshall opened #39 "metaDesc returning same content for all posts"
When a number of posts is queried, the metaDesc content is taken from the first post and applied to all in that list.

This can be replicated in the GraphiQL editor - no changes made to theme.

[2020-06-06 19:28] ashhitch commented on #39
Hi @robmarshall
Can I ask what version of the plugin you are using and which version of Yoast you are using?

[2020-06-07 08:04] robmarshall commented on #39
ah, Ill upgrade and check that out!

[2020-06-07 08:23] #39 closed

[2020-06-10 13:46] seagyn opened #40 "`seo` type already exists."
I'm getting this error (suddenly - so not sure what I did to make it happen). It might have started when I updated WPGraphQL and I was caching some layer somewhere.

```You cannot register duplicate fields on the same Type. The field 'seo' already exists on the type 'tag'. Make sure to give the field a unique name```

This seems to happen because the RootQuery has `seo` along with `post_types` and

[2020-06-10 13:59] #40 closed, assigned to nobody

[2020-06-12 14:26] ashhitch commented on #38
I now have access to the premium version so can start to investigate this further

[2020-06-13 17:34] saleebm opened #42 "Add authors to schema"
Hey,
I see the branch feature/authors available, but is there any reason why the authors are not included with the user object that I am missing? I was hoping to add social links, but not if there is an issue I'm missing. I saw #18 (closed) but there was no info there.

Thank you.

[2020-06-15 18:42] ashhitch commented on #24
Thank tos @saleebm for taking on this task. #41

[2020-06-15 18:42] #24 closed

[2020-06-23 07:33] ashhitch commented on #42
Hey, yeah I put this one on the back burner while I worked on some other features and support for the newer version of Yoast, will try to get back to it soon.

[2020-06-24 12:50] ashhitch commented on #38
@zmn-aamir redirects are now available from #44
You will need version v4.3.0

[code]

[2020-06-24 12:50] #38 closed

[2020-07-02 05:38] ashhitch commented on #42
v4.4.0 Includes support for Author data.

[2020-07-02 05:38] #42 closed

[2020-07-02 05:54] kyleoliveiro commented on #7
@ashhitch I'm still encountering this issue.

Plugin versions I'm using:

- WP GraphQL - Version 0.10.0
- WPGraphql Yoast Seo - Version 4.3.0
- Yoast SEO - Version 14.4.1

[2020-07-02 05:57] ashhitch commented on #7
@kyleoliveiro have you got any examples of this happening?

[2020-07-02 06:32] kyleoliveiro commented on #7
It seems like its only occurring on taxonomies. For posts its working fine.

[2020-07-02 06:38] kyleoliveiro commented on #7
![Capture](https://user-images.githubusercontent.com/4415224/86324766-a1cb4100-bc71-11ea-9d25-6a45385b987d.PNG)

[2020-07-04 16:47] kovordaniy opened #47 "Doesn't work when Yoast SEO was activated as MU-plugin"
`'Yoast SEO'        => is_plugin_active( 'wordpress-seo/wp-seo.php' ) || is_plugin_active( 'wordpress-seo-premium/wp-seo-premium.php' );`

Because of

`function is_plugin_active( $plugin ) {
	return in_array( $plugin, (array) get_option( 'active_plugins', array() ) ) || is_plugin_active_for_network( $plugin );
}`

If Yoast SEO was activated as mu-plugin it doesn't appear in **active_plugins** opti

[2020-07-04 18:30] ashhitch commented on #47
Thanks for highlighting this I will look into a better way of checking

[2020-07-04 23:45] ashhitch commented on #47
FIxed by #48 in v4.4.1

[2020-07-04 23:45] #47 closed

[2020-07-04 23:46] ashhitch commented on #7
FIxed by #48 in v4.4.1

[2020-07-04 23:46] #7 closed

[2020-07-06 18:00] JimCaignard opened #49 "Breadcrumb shows Tags instead of Categories (sometimes)"
The plugin is well set but on some posts in a random way, the breadcrumb shows a Tag and not a Category as asked !

<img width="785" alt="Capture d’écran 2020-07-06 à 19 55 38" src="https://user-images.githubusercontent.com/5680997/86623924-b46fae00-bfc2-11ea-8637-a2d3d5d7c820.png">

[2020-07-07 11:44] ashhitch commented on #49
Have you got an example of the query you are running?
I wonder if it’s some fallback value? As I just pass through the result from Yoast.

[2020-07-13 18:21] ashhitch commented on #27
Sorry about the delay but this is in the latest release https://github.com/ashhitch/wp-graphql-yoast-seo/releases/tag/v4.5.0

[2020-07-13 18:21] #27 closed

[2020-07-13 18:22] ashhitch commented on #26
Will keep an eye on this and add it if it becomes dynamic

[2020-07-13 18:22] #26 closed

[2020-07-16 20:28] heyjones opened #51 "Lost support for Yoast SEO Premium"
A recent PR is causing this plugin to throw an error when using Yoast SEO Premium:

https://github.com/ashhitch/wp-graphql-yoast-seo/pull/48/files#diff-288efc505188f824353f3da6f0810bd9R25

The `YoastSEO` function doesn't exist in premium, I recommend also checking for the `WPSEO_Premium` class.

[2020-07-17 15:57] rauschmerscen opened #53 "Request: JSON+LD for individual posts."
Yoast puts Json+ld automatically in the article generated by wordpress itself.
It would be awesome if the same Json+ld object is automatically available in the post's seo.

[2020-07-17 18:14] ashhitch commented on #53
I have started to look at this, mainly around creating an example using React Helmet as the plugin provides all the data to compose it yourself.

I don't think we would want to take the full data wholesale directly from Yoast as they present information like the default WordPress search information.

Maybe it needs to be the post specific parts returned🤔.

[2020-07-17 19:01] heyjones commented on #51
I wasn't running a v14 version of Yoast SEO Premium. :/

[2020-07-18 15:10] rauschmerscen commented on #53
Yes

[2020-07-19 13:17] izzygld commented on #53
i created awhile back [https://github.com/izzygld/wp-graphql-google-schema](https://github.com/izzygld/wp-graphql-google-schema) a google schema.

@ashhitch would be amazing to create a "Add-On" to this already wonderful wp-graphql-yoast-seo plugin.

[2020-08-07 10:48] shabith opened #57 "Get Yoast Primary Category in Post"
Hi there,

Thanks for this great plugin 👍

Is it possible to get **_Yoast_** Primary Category in graphql?

[2020-08-07 14:04] ashhitch commented on #57
That's a great suggestion will just need a little planning for the best approach, as we would need to do it for custom taxonomies too, a couple of idea of how we could build this in...

Something like this:
[code]

Or this:
[code]

[2020-08-07 15:49] shabith commented on #57
hmm, for me first approach looks good.

[2020-08-10 16:03] nunof07 opened #58 "cardType appears in WP GraphiQL but not in Gatsby GraphiQL"
Hi,

I'm trying to get this:

[code]

To appear in a Gatsby site running `gatsby-source-wordpress-experimental`. However, the `cardType` field is always missing on the Gatsby side.

I can confirm the value appears correctly in WP GraphiQL.
I can also confirm the value appears correctly using GraphQL Playground connected to the WP site.

But in Gatsby, the `cardType` field is never recognized.

As

[2020-08-12 07:32] ashhitch commented on #58
@nunof07 Thanks for raising this. I think it could related to the field being an enum.
I have commented on you issue here:
https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/111#issuecomment-672687447

[2020-08-12 12:39] nunof07 commented on #58
Thank you for the follow up, @ashhitch . I think we'll continue the discussion on the other issue.

[2020-08-16 16:33] ashhitch commented on #58
Closing as but on Gatsby plugin... if enum's become a problem we could look at changing this in the future

[2020-08-16 16:33] #58 closed

[2020-08-30 13:26] garusky commented on #53
Hi @ashhitch is this functionality taken into account?
It would be really useful to have it 🙂

[2020-08-30 14:19] izzygld commented on #53
The question is how far do we want to take it?

i see Yoast v14.8 Adds a Schema section to the metabox and sidebar. This section allows the user to change their Schema settings on posts, pages and custom post types
.
 https://yoast.com/structured-data-schema-ultimate-guide/

any thoughts here?

[2020-08-30 17:40] ashhitch commented on #53
I was going to return the whole schema trouble is it returns stuff like the wordPress search.
I think it's best to return the required data to build up a schema to your own needs.

But happy to get some further input.

I'm currently working on a demo of this with Gatsby.

@izzygld will take a look at the new schema features and see what we can use.

[2020-09-04 20:08] Mactory opened #60 "opengraphImage and twitterImage not showing in API"
Hi,

I have a page with both, the opengraph image and twitter image set, but both fields, `opengraphImage` and `twitterImage` show up as `null` in the API.

I have looked at the code and found the following problems: The value for `YoastSEO()->meta->for_post($post->ID)->open_graph_images`, which is used to retrieve the value for the open graph image, returns the images as an array or arrays. From

[2020-09-08 16:40] ashhitch commented on #60
Hi,
Thanks for reporting this.
We need to return the images as `MediaItems` as this how images work with the main WpGraphQL plugin and then plays nicely with frameworks like Gatsby.

I have not seen this happen myself so will take a look, have you got any live examples?

I do very much welcome any PRs if you have any ideas on how to resolve this without any breaking changes to the API.

[2020-10-03 19:37] ashhitch commented on #57
@shabith its been a while but finally got around to adding this feature...
Primary Term for posts (and other post types) has been added to edge with isPrimary boolean field
Its had to be added to the edge to gather the data required.
[code]

[2020-10-03 19:37] #57 closed

[2020-10-03 19:43] ashhitch opened #63 "Replace deprecated methods resolve_post_object"
Replace deprecated methods `DataSource::resolve_post_object` with `$context->get_loader('post')->load($id)`

[2020-10-03 22:48] Leos1113 commented on #63
Done! https://github.com/ashhitch/wp-graphql-yoast-seo/pull/64

[2020-10-04 06:20] shabith commented on #57
Great news! Thanks a lot @ashhitch

[2020-10-04 07:43] erick-go opened #65 ""seo" disappeared from category"
Hi!

I no longer see the seo object in the category object. I'm using gatsby-source-wordpress-experimental, but I've checked, and it also doesn't appear in WpGraphiql Wordpress plugin.

Downgrading to https://github.com/ashhitch/wp-graphql-yoast-seo/archive/v4.6.0.zip fixed it for now.
WpGraphQL 0.13.2
gatsby-source-wordpress experimental 1.5.3

[2020-10-04 12:56] ashhitch commented on #65
Thanks for the heads up will take a look at this.

[2020-10-04 13:13] ashhitch commented on #65
Fixed by v4.7.1

[2020-10-04 13:13] #65 closed

[2020-10-05 11:01] ashhitch opened #67 "Setup testing"
As the project grows in size and popularity it would be good to set up some formal tests.

[2020-10-07 09:11] ashhitch commented on #10
Finally got around to figuring this one out.
https://github.com/ashhitch/wp-graphql-yoast-seo/releases/tag/v4.8.0

[2020-10-07 09:11] #10 closed

[2020-10-16 00:39] rodrigo-arias commented on #60
I found the same problem and came to the same conclusion of @Mactory. Just one detail, if I use the default image from _SEO Social > Facebook > Default settings_, the `opengraphUrl` node works, although of course, it is the fallback image and not that of each post.

[2020-10-17 19:06] ashhitch commented on #60
Hi
I am going to take another look at this one as my next task

[2020-10-19 16:06] pierreavizou commented on #53
Would work great for my use case to get the same schema as currently returned by Yoast on the Rest API (including WP search etc).

Having the same data returned from GraphQL would probably allow for an easier, smoother transition.

Currently the data returned by wp-graphql-yoast-seo does not allow to manually build a schema equivalent to what Yoast builds internally / returns on REST API, i.e sche

[2020-10-26 18:03] henrikwirth opened #70 "Introduce WordPress VIP coding standards and fixes for existing errors"
See this ticket as a main reference and for discussions: https://github.com/wp-graphql/wp-graphql/issues/1535

WordPress VIP has pretty high coding standards and everyone who will work with VIP in the future will face the same problems as our team right now. It would be great if we could get coding standards up and running with VIP's standards.

Ideally we could setup PHP_Codesniffer with all the

[2020-10-26 18:54] ashhitch commented on #70
Hey, this is something I have been thinking about, so happy to get any help getting it going.

[2020-11-03 20:23] nparsons08 commented on #60
Hi there, just wanted to see if there has been any progress on this. Looks like it's been 17 days. We are also seeing an issue on our end with OG images as described above.

[2020-11-03 20:48] Mactory commented on #60
Hi, sorry for not getting back on this since reporting it.

I have implemented a workaround for my use-case that does not comply with the `MediaItem` structure and instead returns the URLs of the correctly scaled images from Yoast SEO directly.
In my tests, `YoastSEO()->meta->for_post($post->ID)->open_graph_images`  returns an `id` that can be used to generate the `MediaItem` but I did not find a

[2020-11-06 08:14] ashhitch commented on #70
Hey @henrikwirth,
So I started to look into this and have merged in some linting to try help.
One thing that I need to get my head around is the VIP specific functions.
FOr example `wpcom_vip_attachment_url_to_postid` is there a good way of detecting VIP to then use these functions instead of the standard attachment_url_to_postid?

[2020-11-06 11:48] henrikwirth commented on #70
Heya, I think we already fixed the major stuff in this. @oriooctopus wanted to create a PR on this here.

[2020-11-06 13:02] ashhitch commented on #70
Ok cool, I will await that PR.

[2020-11-08 16:35] oriooctopus commented on #70
@ashhitch we'll ask VIP for what the best way to do this would be since we are in active communication with them. Potentially something like
`if (function_exists(wpcom_vip_attachment_url_to_postid)` but I have a feeling like the code checker will still be angry

[2020-11-14 00:54] henrikwirth commented on #70
@ashhitch There is a set of helpers here: https://github.com/Automattic/vip-go-mu-plugins/blob/master/vip-helpers/vip-caching.php

Maybe we can do something like:

[code]

[2020-11-17 18:52] ashhitch commented on #60
Sorry I have not got to this yet but
I would be happy to accept a PR with a separate field.

[2020-11-17 20:09] Mactory commented on #60
I was just working on the PR, when I stumbled upon the function `get_attachment_by_url` [here](https://github.com/Yoast/wordpress-seo/blob/trunk/inc/class-wpseo-image-utils.php) which  seems to do exactly what we need to retrieve the image id from scaled images, solving the original problem. I will give this a try.

[2020-11-18 08:03] ashhitch commented on #60
@Mactory yes good spot, just been looking through this and it could be as simple as adding
[code]
to the `wp_gql_seo_format_string` function

[2020-11-25 08:48] ashhitch commented on #60
I have now published the code that should filter out the sizing for the ID lookup.
Still, feel free to PR a change to add the raw URL if you think this will be helpful too.

[2020-11-28 19:19] wassim opened #76 "Can't fetch frontpage seo"
<img width="698" alt="Capture d’écran 2020-11-28 à 20 18 41" src="https://user-images.githubusercontent.com/14947638/100524270-fa6a2000-31b6-11eb-926a-2ac7e4a67a0f.png">

[code]

Result in:

[code]

[2020-11-29 14:46] ashhitch commented on #76
@wassim thanks for reporting this.
Can I check which version of Yoast and this plugin your running?
also what setting do you have for:
![image](https://user-images.githubusercontent.com/2438290/100545038-a6604980-3251-11eb-8179-b1dc98a143df.png)

[2020-12-07 17:57] ashhitch commented on #53
v4.10.0 includes the raw Schema data.
Sorry, it's taken a while to get to this feature.
Its returned as an encoded string ... I do plan to add a more structured version in the future to complement this.

example query:

[code]

[2020-12-07 17:57] #53 closed

[2020-12-13 09:15] #49 closed

[2020-12-13 09:15] #1 closed

[2020-12-30 09:25] #70 closed

[2020-12-30 09:25] #60 closed

[2021-01-04 09:29] #76 closed

[2021-01-08 08:11] #63 closed

[2021-01-25 06:42] kagamineryuki opened #80 "Updating SEO FocusKW, etc"
hi, just want to ask how to update post SEO through this plugin

[2021-01-25 12:15] ashhitch commented on #80
Hi @kagamineryuki
This plugin is read / query only to pull data from Yoast.
It does not provide any mutations to update content.

[2021-01-28 20:00] ravewebdev commented on #10
@ashhitch Could this be expanded to include CPT archive settings? E.g., `title-ptarchive-<cpt>` and `metadesc-ptarchive-<cpt>`

For instance, our project has the Team CPT and these settings are available in Yoast (but we cannot access them via GraphQL):
![Screen Shot 2021-01-28 at 12 58 22 PM](https://user-images.githubusercontent.com/36422618/106191765-858c7580-6168-11eb-9e95-1284d3b0888b.png)
`

[2021-01-29 19:42] ashhitch commented on #10
Have you tried...

[code]

[2021-01-29 21:50] ravewebdev commented on #10
@ashhitch that query returns the single <post type> settings, not the settings for the <post type> _archive_.

e.g., the single Team CPT title and desc here are exposed via GraphQL:
![Screen Shot 2021-01-29 at 2 47 51 PM](https://user-images.githubusercontent.com/36422618/106330760-074fd200-6241-11eb-819c-919ee1a4674a.png)

but the Team CPT archive settings are not exposed:
![Screen Shot 2021-01-2

[2021-02-01 09:21] #80 closed

[2021-02-01 09:30] ashhitch opened #81 "Add meta data for post type archives"
@ashhitch that query returns the single CPT post settings, not the settings for the CPT _archive_.

e.g., the single Team CPT title and desc here are exposed via GraphQL:
![Screen Shot 2021-01-29 at 2 47 51 PM](https://user-images.githubusercontent.com/36422618/106330760-074fd200-6241-11eb-819c-919ee1a4674a.png)

but the Team CPT archive settings are not exposed:
![Screen Shot 2021-01-29 at 2 50 1

[2021-02-12 15:30] tinytoolbox opened #82 "Page & Custom Post SEO Returns Null"
The plugin is exposing & returning post SEO fields but not returning field values pages or custom post types.  Why can't figure out why.

Using `4.8.0` of the plugin
Yoast version `15.3`
WPGraphQL `1.1.3`
`gatsby-source-wordpress 4.0.1`

Example Query:

[code]

[2021-02-20 19:55] stevepepple commented on #82
I'm seeing the same after updating the gatsby-source-wordpress plugin. Some pages work and other return null for the SEO field.

[2021-02-22 14:55] ashhitch commented on #82
Thanks for reporting this, Will try to look into this ASAP

[2021-02-22 17:58] stevepepple commented on #82
Follow up, I didn't realize that there was a name change to the Wordpress plugin. Once I searched for "Add WPGraphQL SEO" and upgraded to ver. 4.11, the issue was resolved. The previously plugin didn't show an update.
![Uploading Screen Shot 2021-02-22 at 9.57.26 AM.png…]()

[2021-02-22 19:02] ashhitch commented on #82
@stevepepple  sorry had to change it to comply with WordPress plugin directory T&CS.
@tinytoolbox could you make sure you are on the latest version?

[2021-02-24 19:19] tinytoolbox commented on #82
Updating the latest version resulted in no changes.  Only queries for SEO fields on regular posts return a value.  Queries for page SEO values or values for Custom Post Types are returned `null`

[2021-03-01 12:44] ashhitch commented on #82
@tinytoolbox is your issue in WpGraphql or in the Gatsby layer?

[2021-03-03 18:24] stevepepple commented on #82
Yes, right, after I switched to the new package, it worked.

[2021-03-04 11:30] vladderave commented on #82
@ashhitch I have the same issue. Plugin returns null for posts. It's a problem on WPGraphQL layer.
Plugin - Version 4.11.0
Yoast SEO Premium - Version 15.7
WPGraphQL - Version 1.1.3

[2021-03-08 21:20] ashhitch commented on #82
Im still unable to replicate this. Could anyone provide the endpoint for me to check this?

[2021-03-12 13:39] vladderave commented on #82
@ashhitch I made research and the problem was on the Gatsby layer, not GraphQL. The problem is https://github.com/gatsbyjs/gatsby-source-wordpress-experimental
I've used an experimental version of the Gatsby-source, when I am updated to the newest version of gatsby-source-wordpress the problem is gone.

[2021-03-12 15:27] #82 closed

[2021-03-12 15:27] ashhitch commented on #82
Ok that's good news. I'll close this off

[2021-03-14 19:59] GideonWislang opened #83 "Page SEO returns encoded special characters"
Looks like I'm getting encoded special characters for page. Thought this might have been fixed in the past but seems to be broken again.

Here's my query and what it returns.
![image](https://user-images.githubusercontent.com/5721763/111082323-83da0e00-856c-11eb-85c6-8146b3034e49.png)

Example shown is requesting titles but same issue occurs when requesting desc's
Let me know if there's anymore mo

[2021-03-18 12:43] ashhitch commented on #83
@GideonWislang
How are the characters stored in the DB? or viewable in WP admin?

this is what I get
![image](https://user-images.githubusercontent.com/2438290/111627636-2998b180-87e7-11eb-9c85-47dbeb0c4951.png)

![image](https://user-images.githubusercontent.com/2438290/111627763-53ea6f00-87e7-11eb-973a-4945a363df60.png)

[2021-03-18 13:07] #81 closed

[2021-03-18 14:47] rodrigo-arias commented on #83
Hi @ashhitch, I have the same problem. WordPress stores the `blogname` in `wp_options` encoding the html entities, I would expect the content to be decoded for GraphQL.

I think Json it's decoding several content in WPGraphQL. Maybe [this](https://github.com/wp-graphql/wp-graphql/blob/f15bbb5044066c3d09dc96cd5c23acbade1a5727/src/Model/Model.php#L502) is useful. Thanks

[2021-03-19 08:58] erick-go opened #86 "PHP Notice: Undefined index"
Hi..

In my debug.log on my Wordpress installation, I get these notices when Gatsby tries to build..
I'm converting to Gatsby v3 with gatsby-source-wordpress, but so far no success.. I don't know if these are the cause my builds fail, but it's worth mentioning.

[code]

[2021-03-21 08:48] ashhitch commented on #86
This should not cause builds to fail but will take a look anyway as they can be annoying.

Short term you can try turning off php notices on you Wordpress server

[2021-03-22 09:39] stijlbreuk opened #87 "Notice: Undefined property: WP_Taxonomy::$graphql_single_name"
Hi,

I get the following notice when defining custom taxonomies:
` Notice: Undefined property: WP_Taxonomy::$graphql_single_name in wp-graphql-yoast-seo.php on line 935`

[2021-03-22 22:03] ashhitch commented on #87
Hey
Have you set the graphql_single_name for the custom taxonomy?

[2021-03-23 07:04] stijlbreuk commented on #87
Thanks for your reply. We did set all single and plural names for the custom taxonomies, using the [WPGraphQL Custom Post Type UI plugin](https://github.com/wp-graphql/wp-graphql-custom-post-type-ui).

![Screenshot 2021-03-23 at 08 04 19](https://user-images.githubusercontent.com/43994518/112106793-66312800-8bae-11eb-8349-973963f1a48e.png)

[2021-03-25 14:04] KabyleBOT opened #88 "yoast_head endpoint in wpgraphql"
Hello,
The plugin is working fine but i am wandering  if there is a way to add "yoast_head" response entirely to the schema ?

[2021-03-31 07:07] #87 closed

[2021-03-31 07:08] ashhitch commented on #86
#89 fixes this issue, thanks for taking the time to report it 👍

[2021-03-31 07:08] #86 closed

[2021-04-03 10:25] robmarshall opened #90 "Get Yoast Primary Custom Taxonomy item - Enhancement"
Hi,

Thanks for the work you have already done on this plugin. Super helpful!

Is it possible to add functionality like in this ticket: [Get Yoast Primary Category in Post ](https://github.com/ashhitch/wp-graphql-yoast-seo/issues/57), but for custom Taxonomies?

Thanks,
Rob

[2021-04-06 07:00] ashhitch commented on #90
@robmarshall
This should already work like this
[code]

[2021-04-06 07:04] ashhitch commented on #88
Example output for reference:
https://developer.yoast.com/blog/wp-json/yoast/v1/get_head?url=https://developer.yoast.com/blog/upcoming-release-yoast-seo-14-0-indexables/

[2021-04-06 07:12] lqze commented on #88
For Gatsby users:
In the mean time I am simply fetching the `yoast_head` during the `createPages` stage in my `gatsby-node.js`

[2021-04-08 10:54] robmarshall commented on #90
Apoligies, I missed out a potentially vital piece of info. This query is on a custom post type.

So I am looking to pull the primary item from a custom taxonomy, off a custom post type.

It seems isPrimary does not exist on this type of query.

[2021-04-08 14:03] #88 closed

[2021-04-15 13:29] dev-catalyst opened #92 "Unable to install wp-graphql-yoast-seo using composer"
I'm trying to install this plugin using composer on one of my websites. But, I'm unable to do so as I'm getting this error.

[code]

I have checked my credentials multiple times but to no avail. I have also tried using both the username and password as well as token but still, the credentials are showing as invalid.

![Screenshot 2021-04-15 at 6 47 09 PM](https://user-images.githubusercontent.com/

[2021-04-15 14:07] ashhitch commented on #92
this plugin should not require any logins as it is public...
are you trying to install Yoast premium also? if so you need a token todo that I belive

[2021-04-15 14:08] ashhitch commented on #90
@robmarshall sorry for the delay .. but could you give me an example of the query you would like / expect to run?

[2021-04-15 14:15] dev-catalyst commented on #92
@ashhitch Yoast premium is already installed on the website.
`"yoast/wordpress-seo-premium": "12.9.2"`

Can that be the issue? And if yes, what credentials do I need to use in that case?

[2021-04-15 15:48] robmarshall commented on #90
I am trying to run this:
[code]

However, just checked the standard post query within my graphQL inspector (after Gatsby build) and no categories have an 'edges' array. Only have 'nodes'. Maybe this is the issue?

i.e. I can see:

[code]

Does that help?

[2021-04-16 16:13] IRediTOTO opened #93 "Improve breadcrumbs"
Hi, can you add one more field for this:
[code]
The url will direct to admin page, can you add uri for it ?

[2021-04-20 13:04] ErikThiart opened #94 "Cannot query field \"seo\" on type \"Post\"
[code]

Results in

[code]
![2021-04-20_15-04-45](https://user-images.githubusercontent.com/9626641/115400636-d0f37480-a1e9-11eb-9d17-9ba97436c48b.jpg)

[2021-04-20 14:03] ashhitch commented on #94
@ErikThiart  you need to active Add WpGraphQL SEO. (this plugin).

[2021-04-21 09:08] ErikThiart commented on #94
Oh my lord.

I am so sorry @ashhitch .

Egg on face.

[2021-04-21 13:10] izzygld opened #95 "Include the Est. reading time?"
<img width="555" alt="Screen Shot 2021-04-21 at 16 09 25" src="https://user-images.githubusercontent.com/12534341/115558960-ec2eb480-a2bb-11eb-84ac-e7bee08a2277.png">

Any way we can retrieve the **Est. reading time**?

[2021-04-21 14:07] ashhitch commented on #95
[code]

should return this

[2021-04-21 14:08] ashhitch commented on #94
no worries happens to the best of us...

[2021-04-21 14:08] #94 closed

[2021-04-21 14:20] izzygld commented on #95
thank you.

[2021-04-21 14:20] #95 closed

[2021-04-23 19:42] rodrigo-arias commented on #83
Hi @ashhitch I have seen that the workflow closed the issue, but the error is still there. Have you had a chance to review it? Thanks

[2021-04-24 14:04] benknight opened #96 "HTML entities"
I'm using WP GraphQL with Next.js and my page titles all have raw HTML entities in them like `Page &ndash; Site Name`

It would make sense for this plugin to decode all HTML entities in strings, right? GraphQL being a data API, it need not concern itself with escaping data, that's the rendering engine's job.

[2021-04-24 19:56] ashhitch commented on #83
Sorry, I have yet to get to the bottom of this but it will be the next job on this plugin.

[2021-04-26 09:33] ashhitch commented on #96
#97  and release v4.14.00 fixes this issue

[2021-04-26 09:33] #96 closed

[2021-04-26 09:34] ashhitch commented on #83
Sorry this one was a long time coming - #97  and release v4.14.00 fixes this issue

[2021-04-26 09:34] #83 closed

[2021-04-27 07:04] ashhitch commented on #92
Sorry about the delay in getting back to you her is some helpful info on how todo this:
https://yoast.com/help/how-to-install-yoast-plugins-using-composer/

[2021-04-27 07:04] #92 closed

[2021-05-23 09:18] #90 closed

[2021-05-26 21:18] matepaiva opened #98 "Is logo/companyLogo working?"
Hi, first of all thank you for the hard work!

I have set the company logo in the configuration wizard for my website (and it shows there), but when I query it from the GraphQL IDE, the `logo` / `companyLogo` / `personLogo` is empty.

Do you think it could be a bug or maybe I am doing something wrong?

[code]

query:
[code]

result:
[code]

Thank you! :)

[2021-05-26 22:35] matepaiva opened #99 "Apply filter to schema.siteUrl"
As graphql can be used for headless websites, sometimes the siteUrl is not the same as the `get_site_url()` result.

If we apply a filter to this value, we open to the possibility to manipulate it right before resolving it to GraphQL. And we don't introduce any breaking change :)

[code]

Before opening this issue, I tried to `add_filter` directly to `site_url`. Although it works, it also breaks o

[2021-05-27 13:48] ashhitch commented on #99
@matepaiva  yes please open a PR for this

[2021-05-27 13:53] ashhitch commented on #98
@matepaiva Thanks for taking the time to raise this... everything is looking ok on my test site:
![image](https://user-images.githubusercontent.com/2438290/119838254-2adb0e80-befb-11eb-9b93-695bdfc08ddc.png)

under SEO > Search appearance do you see your image?
![image](https://user-images.githubusercontent.com/2438290/119838426-4f36eb00-befb-11eb-8434-f8c54f636571.png)

[2021-05-27 14:36] matepaiva commented on #98
I can confirm the problem is on my side. Thank you for your feedback. I am closing this issue.

[2021-05-27 14:36] #98 closed

[2021-05-28 09:31] niklaslovgren opened #101 "Recurring PHP notices about undefined indices (wpseo_metakeywords and canonical)"
Since installing this plugin, these notices appear frequently in the logs. They appear in pair; one comes right after the other.

[code]

Is there something misconfigured on our side, or should this be handled by the plugin?

[2021-05-31 11:26] matepaiva commented on #99
@ashhitch could you take a look at the PR please? :)

[2021-06-01 13:11] colbyfayock opened #102 "Canonical link not appearing in post query"
I noticed that my canonical links are no longer showing up in my queries. I'm not really sure when this started happening, this is the first I noticed it.

I tested out on two separate wordpress instances and can't seem to get it working.

Query:
[code]

![image](https://user-images.githubusercontent.com/1045274/120328905-4eb2a180-c2b9-11eb-90d4-81311f0aba78.png)

![image](https://user-images.gith

[2021-06-01 13:37] ashhitch commented on #102
@colbyfayock have you got the discourage search engines option ticked?
Yoast will not return a canonical if this option is ticked.

[2021-06-01 13:39] colbyfayock commented on #102
yup that did it 🤦 thanks

[2021-06-01 13:39] #102 closed

[2021-06-01 13:40] ashhitch commented on #101
Hi thanks for reporting this I will take a look at this

[2021-06-01 13:44] ashhitch commented on #99
@matepaiva sorry life's been a bit crazy, I have merged this in and will get a release out soon

[2021-06-07 07:11] ashhitch commented on #101
I have added some guards around these properties in v4.14.2
Thanks for reporting the issue

[2021-06-07 07:11] #101 closed

[2021-06-10 11:43] ashhitch commented on #99
merged in v4.14.1

[2021-06-10 11:43] #99 closed

[2021-06-18 14:53] nhankla-kl opened #103 "GraphQL queries getting logged in Index Database"
Hi,
We are running a site that failed the other day due to Yoast SEO logging every GraphQL query and filling up the index table with 20million records.

Not sure how we can disable that or remove the indexing as it is not needed.

Odd issue for sure.

[2021-06-18 15:35] rodrigo-arias commented on #83
I'm a little late here, but I just wanted to say that I tried it and it works fine. Thanks for solving it @ashhitch

[2021-06-18 17:07] ashhitch commented on #103
I will take a look at this, but my plugin does not do any logging… and my understanding is that the table stores a single record for every post, page, term. image etc on your site. What versions of Yoast, WpGraphQL, and Yoast WPGraphQL are you running?

[2021-06-22 16:26] locksmithunit opened #104 "what is this plugin? someone can explaine?"

[2021-06-24 19:43] matepaiva commented on #99
Thank you, I can see it's already working :)

[2021-06-30 07:01] ashhitch commented on #104
This is a WOrdPress extension to the WPGraphQL plugin (https://github.com/wp-graphql/wp-graphql) that returns Yoast SEO data from the popular WordPress SEO plugin.

[2021-06-30 07:01] #104 closed

[2021-06-30 07:01] ashhitch commented on #103
@nhankla-kl  did you get to the bottom of this your end?

[2021-07-14 06:32] izzygld opened #105 "fullHead returning error"
Error from `seo -> fullHead` when using `nodeByUri`

<img width="1234" alt="Screen Shot 2021-07-14 at 9 29 59" src="https://user-images.githubusercontent.com/12534341/125574070-3f9e0e33-a8b9-42ca-a5c7-fa7dfd53da2f.png">

`{
  "errors": [
    {
      "debugMessage": "Expected a value of type \"String\" but received: instance of stdClass",
      "message": "Internal server error",
      "extensions"

[2021-07-14 19:09] ashhitch commented on #105
@izzygld thanks for reporting this... are you on the latest version of Yoast ... think there might be an issue with the changes

[2021-07-14 19:37] ashhitch commented on #105
@izzygld Yoast introduced a breaking change.   I do have a fix almost ready on this branch https://github.com/ashhitch/wp-graphql-yoast-seo/tree/feature/yoast-16.7 but need to work in some backward compatibility.

[2021-07-15 13:01] ashhitch commented on #105
Fixed in #106

[2021-07-15 13:01] #105 closed

[2021-08-02 09:16] jibin2706 opened #107 "Option of changing of root url"
While generating the schema the root URL has the wordpress domain (wordpress.example.com). Is there a way to change the url to (blog.example.com)?

[2021-08-05 09:16] #103 closed

[2021-08-09 02:55] RedCardinal opened #108 "Author Archives Node Missing"
Author archives are a default post type in WP, and Yoast dresses these pages with specific schema (@type ProfilePage), along with data generated from the User object.

wp-graphql-yoast-seo does not appear to provide nodes for this data. The User can be queried, but the following nodes are not available for User:
* canonical
* title
* meta description
* breadcrumb
* OG tags
* more..

The expected b

[2021-08-13 12:25] manuliak opened #109 "Breadcrumbs - Invalid Custom Post Type URL"
### Hi, I have created my own post type "Job"

### The code looks like:
![Screenshot from 2021-08-13 15-01-47](https://user-images.githubusercontent.com/8714097/129355320-1d72f82e-7579-4cf8-8aa6-f9cd0f18f1a8.png)

As you can see, I've added a custom slug for the archive page.
The expected behavior is that the following URLs will be in breadcrumbs:
http://domain-name/custom-slug - for archive page

[2021-08-15 09:15] #93 closed

[2021-08-16 19:57] ashhitch commented on #109
Hi thanks for reporting thisissue.
We use a Yoast API to grab the breadcrumbs, but will try to recreate this issue.

[2021-09-02 09:03] acalexuy opened #110 "Canonical in category returns null"
Yoast version 17.0

Sample Query
`query MyQuery {
  categories {
    nodes {
      seo {
        canonical
      }
    }
  }
}
`

Sample response
`{
  "data": {
    "categories": {
      "nodes": [
        {
          "seo": {
            "canonical": null
          }
        },
        {
          "seo": {
            "canonical": null
          }
        },
        {
          "seo": {

[2021-09-08 10:48] jibin2706 commented on #107
not stale @ashhitch

[2021-09-11 13:19] ashhitch commented on #110
@acalexuy thanks for spotting this... this should be the correct way to fix it... i Will get this patched up and tested

[2021-09-11 13:33] ashhitch commented on #110
Fixed in v4.15.1

[2021-09-11 13:33] #110 closed

[2021-09-30 17:18] javialon26 commented on #107
This is a nice to have feature, because the raw schema comes with WordPress base URL and we need to change to the front-end URL. I will try to change the URL with type.__all.beforeChangeNode function from gatsby-source-wordpress, another option can be the search-replace function but this changes the URL in the content also.

[2021-10-13 12:16] unmaskz opened #113 "Yoast Premium - The WPGraphQL Yoast SEO plugin can't be loaded because these dependencies are missing:"
Issue with plugin when using Yoast Premium:

[2021-10-29 13:23] charles-langley opened #117 "isPrimary not exposed to ReactJS/Gatsby"
We're working on a headless wordpress project using react js/gatsby, and while your plugin exposes isPrimary to the internal wpgraphql plugin, when attempting to access the information through gatsby graphql queries, isPrimary doesn't exist.

All of the other seo data provided by your plugin appears to be there, just not isPrimary.

[2021-11-02 14:34] charles-langley commented on #117
Would it be possible to move it into 'seo'?
For example:
[code]

[2021-11-16 08:38] joiglifberg opened #118 "Repeated notices"
We get these notices in the logs very frequently.

[code]

[2021-12-02 12:36] bjornlarus commented on #113
I am having the same issue @ashhitch , Yoast SEO Premium version 9.5 and WPGraphQL SEO version Version 4.16.0

[2021-12-02 19:21] ashhitch commented on #113
@bjornlarus Yoast premium is currently on 17.7

Is there a reason your on v9?

I don't think my plugin will support a version that old I'm afraid.

[2021-12-10 20:58] moonmeister opened #119 "Suggestion for possible Typing Improvements"
I was trying to abstract my SEO information into my layout so I didn't have to repeat myself in each post/page/tag/category/etc template. The query I started writing looks like this:

[code]

This seems extremely verbose given the same fields are available on all (or so I suppose). WPGraphQL already has types that solve this issue for things like Title/Author/etc:

[code]

What I'm recommending is

[2021-12-10 21:05] moonmeister commented on #119
Based on the Readme it looks like not all `seo` fields are created with the same data. But even if we combined post/pages, tag/categories, etc... ethat could still be helpful. e.g.

[code]

[2021-12-10 21:10] moonmeister commented on #119
Looks like the `ContentNode` or `TermNode` Might be valuable here.

[2021-12-11 19:37] ashhitch commented on #119
@moonmeister  This seems like a really good idea!

[2021-12-11 19:37] ashhitch commented on #118
Thank will take a look at this

[2021-12-14 00:18] moonmeister commented on #119
Thanks, I unfortunately don't have much for PHP skills...so can't help with implementation. I also had the though that `NodeWithFullHead` or `NodeWithCommonSeo` could be other helpful types.

[2022-01-17 05:03] KevinBatdorf opened #121 "Undefined array key \"bctitle-archive-wpseo\""
Ran into a few errors regarding accessing properties that don't exist.

Reported a few months back here: https://wordpress.org/support/topic/errors-on-missing-properties/

[2022-02-02 01:53] SeanMee86 opened #123 "On activation gatsby_plugin_sharp.IMAGE_PROCESSING job hangs"
Hi, I love the plugin other than the fact that when I run the develop process the build time has gone from 15 minutes to 2 hours. My current wordpress plugins are:

- Add WPGraphQL Redirection - version 0.0.3
- Add WPGraphQL SEO - version 4.16.0
- Advanced Custom Fields - version 5.11.4
- Advanced Custom Fields PRO - version 5.10.2
- WP Gatsby - version 2.2.0
- WPGraphQL - version 1.6.12
- WPGraph

[2022-02-02 09:14] #117 closed

[2022-02-02 18:16] SeanMee86 commented on #123
Also seeing this in Gatsby Cloud:

![Uploading Screen Shot 2022-02-02 at 10.16.29 AM.png…]()

[2022-02-12 15:29] moonmeister commented on #119
Not stale

[2022-02-13 13:01] justlevine commented on #119
@ashhitch would love to help with this, PMing you on the wp-graphql slack

[2022-02-13 14:57] ashhitch commented on #119
Sorry really need to remove this action

[2022-02-13 15:19] ashhitch commented on #123
Hi
What queries are you running for Yoast?
I run a few sites in Gatsby Cloud and not seeing this.

Have you reached out to Gatsby Cloud support, as this might be able to highlight where the issue is?

[2022-02-14 08:15] ashhitch commented on #121
This should now be fixed with v4.16.1

[2022-02-14 08:15] #121 closed

[2022-02-14 08:16] ashhitch commented on #118
This should now be resolved in v4.16.1

[2022-02-14 08:16] #118 closed

[2022-02-14 08:17] ashhitch commented on #113
Closing this as i believe it only relates to old incompatible yoast versions

[2022-02-14 08:17] #113 closed

[2022-03-06 23:03] evrenbal opened #127 "wpseo_breadcrumb_links filter is ignored"
Dear WpGraphQL Community,

I am trying to override the breadcrumbs using the wpseo_breadcrumb_links fitler provided by Yoast.

The filter works well on standard WordPress, however not applied when using the plugin.

Any Ideas about how to fix this issue?

Thanks in advance

[2022-03-11 17:31] ttstauss opened #128 "Cloudinary URLs"
I posted this on the `Cloudinary's WordPress Plugin` repo as well. I wasn't sure which side could fix this.

I know there are other issues already created for Cloudinary URLs populating correctly for WPGraphQL, but I think there's a subtle difference in what I'm facing (not pulling images from the content or raw HTML).

I'm using the `WPGraphQL Yoast SEO Addon` to query SEO data from the Yoast gen

[2022-03-21 16:18] rodrigo-arias commented on #118
@ashhitch I still can see a similar issue in a different line of code. I created this PR https://github.com/ashhitch/wp-graphql-yoast-seo/pull/130 to fix that one.

[code]

[2022-03-22 13:01] techexpresslive opened #131 "property="og:type" content="website" on Post"
Hello,

Thanks for the great plugin.
I am new to gatsbyjs and started my first project but can't able to solve the problem. I am getting "property="og:type" content="website"" on Post instead of "property="og:type" content="article".

Apart from that, on the homepage no Yoast metadata showing in Gatsby

Please help me

Waiting for your reply.

[2022-03-25 16:26] ttstauss opened #132 "Cannot return null for non-nullable field "MediaItem.id""
When running a query for `twitterImage?.sourceUrl()` I get the following error (when no image has been added to the Twitter preview/Twitter Image section in WordPress):
[code]
Doesn't seem to be an issue with `opengraphImage?.sourceUrl()`

[2022-03-28 20:12] evrenbal opened #133 "Querying redirects using where params"
There are cases that we need to query if there is a redirection set for a specific URI. For example, in case of "not found error" you may want to redirect the user to correct page instead of showing a 404 page.

Currently, we can get all redirects from the SEO (Yoast config) node but it is not feasible to get a full list of redirects and filter on client side. It would be perfect if we can query t

[2022-04-02 12:37] evrenbal opened #134 "SEO fields on Page Info Data"
It is possible to query all SEO fields (including raw schema) on single nodes (Post, Page etc.), but for Page Info Data, I can't query the SEO information other than raw schema.

 Is this the intended behavior? Can someone suggest a workaround to query this information on ContentType nodes?

[2022-05-13 12:29] paolospag opened #135 "Empty SEO fields when asPreview is true"
Hello,
I'm new to this plugin and WPGraphQL and I would like to know if it's correct that the fields are empty with `asPreview` or if I rather need to change something.

This is my query:
[code]

And this is the method I use to run the query:
[code]

When the variable `asPreview` is set to true, some fields related to Yoast SEO are empty. In particular:
[code]

Am I wrong something or is it correc

[2022-05-31 07:23] izzygld commented on #134
Hi @evrenbal

Not sure what your question is:
[code]

[2022-05-31 07:25] izzygld commented on #128
Hi @ttstauss

this looks to be fixed in Cloudinary's WordPress Plugin  -v 3.0.3

Have you tried it with the latest plugin version?

[2022-06-13 08:46] mikenolan opened #137 "Missing isPrimary field on taxonomy edges in latest update"
The latest update appears to drop the isPrimary field from taxonomy edges but the changelog doesn't make any reference to this breaking (for us) change.

[2022-06-13 11:43] ashhitch commented on #137
Sorry about they issues the latest release has caused will try to get the resolved as soon as possible as it should still be there

[2022-06-13 14:27] ashhitch commented on #137
@mikenolan @evangelinepapanicola just to let you know the data is back in the latest release v4.18.1.
Sorry for the trouble it caused over the weekend.

[2022-06-13 14:27] #137 closed

[2022-06-13 14:38] evangelinepapanicola commented on #137
No worries - thanks for the quick fix!

[2022-06-14 15:20] justlevine commented on #132
Betting it has to do with [this](https://github.com/ashhitch/wp-graphql-yoast-seo/blob/c0ceb835276b6309ea9a8d1271802e6604b603e0/wp-graphql-yoast-seo.php#L754), where `wpcom_vip_attachment_url_to_postid` is returning false causing a `0` to be passed to the loader instead of bailing with null.

[2022-06-27 20:35] code-runner92 opened #138 "Yoast Config Data (socials) - plugin is not updated to the newest Yoast data structure"
### Yoast Version 17.7.1

Yoast provided individual inputs for specific social platforms:

![Screenshot 2022-06-27 at 22 23 04](https://user-images.githubusercontent.com/17150224/176030017-5f384e4a-ad18-44e1-9e4a-a1d0588c3c74.png)

and it was reflected in this graphQL plugin:
[code]

### Yoast Version 19.1

Yoast provides _named_ inputs only for Facebook and Twitter. All the rest are _platform-agn

[2022-08-17 15:39] jhochgrevetsd opened #139 "Canonical Returns Nothing"
I have added canonical tags to Yoast and have added the canonical call to my Graph, but it still returns an empty string no matter what I do. Here is my SEO call:

`         seo {
            opengraphImage {
              sourceUrl
            }
            title
            metaDesc
            canonical
            schema {
              raw
            }
          }
`

[2022-08-17 15:42] jhochgrevetsd commented on #139
I just saw that these will not be returned unless we have our WordPress instance set to allow search engines. Might I suggest somehow allowing this? We utilize this plugin for headless WordPress websites and had an issue with search engines indexing the WordPress instance (on a different domain).

[2022-09-01 13:18] chawax commented on #139
Same problem for me, need it for headless Wordpress too :(

[2022-09-06 09:49] ashhitch commented on #139
Yeah, as mentioned before, this is standard in Yoast and is passed back from their methods.

I also use this in a headless environment; some users will want to use all these settings as they are now.

What I normally do is have my own robots.txt or index.php which the setting to make sure the admin is not indexed

[2022-09-06 09:49] #139 closed

[2022-09-07 11:42] chawax commented on #139
I had misunderstood your response but that makes sense : il a content should not be indexed, you don't need canonical url ! Thanks for helping.

[2022-09-23 11:08] AndrzejBaran commented on #57
Hi! Can you add same option for wpPost query? It's available only in post collection query and I need to get primary category in single post query. Much appreciated!

[2022-09-23 11:42] AndrzejBaran opened #140 "Can't see yoast "isPrimary" edge for post categories."
Using Gatsby.JS with GraphQL. I can see all nodes for seo, but edges are not showing, so I can't grab isPrimary.
My query looks like this:
[code]

This gives me an error "Cannot query field \"edges\" on type \"WpPostToCategoryConnection\". Did you mean \"nodes\"?". If I remove edges it works. Seo also gives corrrect values, but not edges.

[2022-10-20 20:02] ashhitch commented on #140
@AndrzejBaran  unfortunately Gatsby does not support edge fields

[2022-10-20 20:02] #140 closed

[2022-10-21 13:37] ashhitch commented on #138
Sorry about the delay in getting this done.
v4.19.0 contains these profiles

[2022-10-21 13:37] #138 closed

[2022-11-11 08:53] H-Nguyenx opened #142 "No query avaiable to get homepage seo data"
Hi, I can not find graphql query to retrieve homepage seo information in the image below through wp-graphql-yoast-seo plugin.
There is only social information of homepage query avaiable.
![Screenshot_20221111_034517](https://user-images.githubusercontent.com/33373945/201301905-64f0d4d0-ffc6-412a-862a-686d53fc7ef1.png)

[2022-11-14 21:26] ashhitch commented on #142
Hey, i should be able to get this added in for you

[2022-11-24 08:03] ashhitch commented on #142
@cantoute this is in [v4.20.0](https://github.com/ashhitch/wp-graphql-yoast-seo/tree/v4.20.0)

[code]

[2022-11-24 08:03] #142 closed